"*":
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Menlo-Regular"
  "exception-reporting":
    userId: "303f98c6-25d4-4ca6-8ac7-444f5e316be2"
  welcome:
    showOnStartup: false
